{% block login %}
<html>
    <head>
        <title>NavBar</title>
        <style>
            li{
                display: inline;
                padding:20px;
    
            }
    a{
        text-decoration: none;
        font-style: italic;
        font-size:30px;
    }
    div{
        float: right;
        background-color: black;
    }
    </style>


    </head>
    <body style="background: linear-gradient(to right,#10292D,#4CCCDE);">
        <div>
        <ul>
            <li><a href="#">MY BLOGS</a></li>
            <li><a href="/blog/addblog/">ADD BLOGS</a></li>
            <li><a href="/users/logout/">LOGOUT</a></li>
        </ul>
        </div>
    </body>
</html>
{% endblock %}